body {
    background-color: #f5f5f5; /* off-white */
    color: #333; /* dark gray */
    font-family: "Helvetica", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    background-color: #2e8b57; /* forest green */
    color: #fff; /* white */
    padding: 2rem 0;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  nav {
    background-color: #2e8b57; /* forest green */
    text-align: center;
    padding: 0.5rem 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff; /* white */
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #3dc1d3; /* light blue on hover */
  }
  
  section {
    margin-bottom: 2rem;
    padding-top: 2rem; /* Additional spacing on top of each section */
  }
  
  section h2 {
    color: #2e8b57; /* forest green */
  }
  
  ul {
    list-style: none;
    padding-left: 20px; /* Indent the bullet points */
  }
  
  li {
    margin-bottom: 0.5rem;
    position: relative;
  }
  
  /* Style the bullet points */
  li::before {
    content: "\2022"; /* Unicode for the bullet point symbol */
    position: absolute;
    left: -20px;
    color: #2e8b57; /* forest green */
  }
  
  /* Media query for mobile responsiveness */
  @media screen and (max-width: 768px) {
    header {
      padding: 1rem 0;
    }
  
    header h1 {
      font-size: 2rem;
    }
}